<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="container">
        <h1>Dojo Survey</h1>
        <form action="">
            <div>
                <label for="">Your Name:</label>
                <input type="text" name="" id="">
            </div>
            <div>
                <label for="">Dojo Location:</label>
                <select name="" id="">
                    <option value="">Miami</option>
                    <option value="">New York City</option>
                    <option value="">Atlanta</option>
                    <option value="">Los Angelos</option>
                </select>
            </div>
            <div>
                <label for="">Favorite Language:</label>
                <select name="" id="">
                    <option value="">Python</option>
                    <option value="">Java</option>
                    <option value="">MERN</option>
                    <option value="">C#</option>
                </select>
            </div>
            <div>
                <label for="">Comment (optional):</label>
                <textarea name="" id="" cols="30" rows="10"></textarea>
                <button>Submit</button>
            </div>
        </form>
    </div>
</body>
</html>