*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    text-align: center;
}

h1{
    margin: 15px 0px;
}

.row{
    display: flex;
    justify-content: center;
}

.color1{
    height: 90px;
    width: 90px;
    display: inline-block;
    background-color: red;
    margin: 0px;
    /* outline: 5px solid cadetblue; */
}

.color2{
    height: 90px;
    width: 90px;
    display: inline-block;
    background-color: black;
    /* outline: 5px solid cadetblue; */
}