*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    margin: 0px 400px;
}

table{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    /* outline: 5px solid chartreuse; */
}