<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Dos App</title>
</head>
<body>
    <h1>List of Todos</h1>
    <!-- <h3>Logged in user's id: {{session['logged_user']}}</h3> -->
    <h3>Welcome {{user['first_name']}}</h3>
    <a href="/user/{{user['id']}}/todos">My todos</a> <!-- {{user['id']}} is talking about the list of dictionaries-->
    <ul>
        {% for todo in todos: %}
            <li>Id: {{todo.id}} Todo: {{todo.description}} Status: {{todo.status}} User ID: {{todo.user_id}}</li>
        {% endfor %}
    </ul>
    <a href="/todo/form">Add New Todo</a>
</body>
</html>