<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Dojos</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <div id="left-col">
        <h2>New Dojo</h2>
        <form action="">
            <label for="">Name:</label>
            <input type="text" name="" id="">
            <button type="submit">Create</button>
        </form>
    </div>
    <div id="right-col">
        <h2>All Dojos</h2>
        <div id="container">
            <a href="">Seattle</a>
            <a href="">San Francisco</a>
            <a href="">Washington DC</a>
        </div>
        <a href="/ninjas">Add Ninja</a>
    </div>
</body>
</html>