<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Info</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/one.css') }}">
</head>
<body>
    <div id="header">
        <h1>User {{user.first_name}}</h1>
        <a href="/users">Home</a>
    </div>
    <div id="container">
        <p>Full Name: {{user.full_name()}}</p>
        <p>Email: {{user.email}}</p>
        <p>Created On: {{user.created_at.strftime("%b %d %Y")}}</p>
        <p>Last Updated On: {{user.updated_at.strftime("%b %d %Y")}}</p>
    </div>
    <div id="footer">
        <a href="/user/edit/{{user.id}}">Edit</a> <span>|</span> <a href="/user/delete/{{user.id}}">Delete</a>
    </div>
</body>
</html>